.layout {
  .content {
    background-color: #f4efea;
    height: calc(100vh - 64px);
    // height: 100vh;
    margin-right: 10px;
    z-index: 1;
    position: absolute;
    right: 0;
    float: right;
    width: 96%;
    overflow: hidden;
    title {
      font-weight: 900;
      font-size: 36px;
      line-height: 110%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #a85f0a;
      margin-bottom: 0;
    }
  }
}
header {
  position: sticky;
  top: 0;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 24px;
  gap: 12px;
  background: #ffffff;
  box-shadow: inset 0px -1px 0px #f0f0f0;
}
header title {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #8c8c8c;
}
header h1 {
  font-weight: 900;
  font-size: 36px;
  line-height: 110%;
  display: flex;
  align-items: center;
  color: #a85f0a;
  margin-bottom: 0;
}
.sideBar {
  width: 56px;
  background-color: white;
  height: calc(100vh - 64px);
  z-index: 3;
  float: left;
  position: absolute;
  left: 0;
  transition: all 250ms linear;
  &:hover {
    .item span {
      opacity: 1;
    }
    width: 250px;
    z-index: 2;
    transition: all 250ms linear;
  }
  .active {
    background: #fdf1e2;
    border-right: 8px solid #a85f0a;
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 12px;
    width: auto;
    height: 48px;
    order: 0;
    align-self: stretch;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    span {
      opacity: 0;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      color: #8c8c8c;
    }
    &:hover,
    &:active {
      background: #fdf1e2;
      border-right: 8px solid #a85f0a;
    }
  }
}
