.tableVahicle {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  // max-height: 320px;
  overflow: hidden;
  .ant-table-tbody > tr > td {
    padding: 8px !important;
  }
  .ant-table-thead > tr > th {
    padding: 8px !important;
  }
  .ant-table-measure-row {
    display: block !important;
  }
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
    margin-block: 5px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(180, 180, 180);
    border-radius: 10px;
  }
}
