// .buttonLoading {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   position: absolute;
//   width: 100%;
//   height: 100%;
//   top: 0;
//   left: 0;
// }
.antCustom {
  .ant-btn {
    position: relative;
    min-width: 87px;
    height: 32px;
    text-align: center;
    background-color: #a85f0a;
    border: 1px solid #a85f0a;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.043);
    border-radius: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    color: #ffffff;
    &:hover,
    &:focus {
      background: #c17115;
      border: 1px solid #c17115;
      color: #ffffff;
    }
    &:active {
      background: #8c5303;
      border: 1px solid #8c5303;
    }
    &:disabled {
      background: #e6e6e6;
      border: 1px solid #e6e6e6;
      color: #b3b3b3;
    }
  }
}
