.mainReport {
  background: #ffffff;
  border-radius: 2px;
  padding: 24px;
  margin: 24px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: row;
  column-gap: 16px;
}
