@import "assets/styles/_content.scss";
.dashboard {
  @extend .content;
  display: flex;
  .dashboardMap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .toolDasdboard {
    min-width: 330px;
    background: rgb(213, 89, 89);
  }
}
