@mixin spaceFlex {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modalStyle {
  .ant-modal-content {
    width: 420px;
    height: 408px;
    max-height: 430px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    padding: 0px !important ;
    .ant-modal-header {
      background: #a85f0a;
      border-radius: 4px;
      height: 48px;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 24px;
      .ant-modal-title {
        display: flex;
        align-items: center;
        color: #ffffff;
      }
    }
    .ant-modal-body {
      padding: 0px 24px;
      .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        .nameDevice {
          @include spaceFlex;
        }
        .Icon {
          @include spaceFlex;
        }
      }
      :where(.css-dev-only-do-not-override-acm2ia).ant-form .ant-form-item .ant-form-item-label,
      :where(.css-dev-only-do-not-override-acm2ia).ant-form .ant-form-item .ant-form-item-control {
        flex: 0 0 100%;
        max-width: 100%;
      }
      :where(.css-dev-only-do-not-override-acm2ia).ant-form-item .ant-form-item-label {
        margin: 0;
        padding: 0 0 8px;
        white-space: initial;
        text-align: start;
      }
      :where(.css-dev-only-do-not-override-acm2ia).ant-form-item {
        margin-bottom: 10px;
      }
      // .ant-select-selector {
      //   width: 126px;
      // }
    }
    .ant-modal-close-x {
      // position: absolute;
      // left: 14.62%;
      // right: 14.71%;
      // top: 13.61%;
      // bottom: 13.62%;
      color: white;
    }
    .ant-modal-footer {
      margin-top: 30px;
      height: 48px;
      background: #fafafa;
      box-shadow: inset 0px 1px 0px #f0f0f0;
    }
  }
}
