.mainDevices {
  padding: 24px;
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    title {
      font-weight: 500 !important;
      font-size: 16px !important;
      line-height: 24px !important;
      color: rgba(0, 0, 0, 0.85) !important;
    }
    .toolbar {
      display: flex;
      column-gap: 16px;
    }
  }
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
  }
}
