.DevicesTable {
  // padding: 0px 24px !important;
  background-color: white;
  border-radius: 2px;
  .action {
    display: flex;
    flex-direction: row;
    column-gap: 16px;
    span {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #a85f0a;
      cursor: pointer;
    }
  }
  .ant-table-wrapper {
    padding: 0 24px;
  }
}
