body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.text code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

div {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

@media (min-width: 840px) {
  .primary {
    font-size: 4.7em;
  }
}
.App {
  background-color: #ffffff;
  width: 100vw;
  height: 100%;
  max-width: 100%;
}
.App a {
  text-decoration: none;
  color: black;
}
.App-heatmap {
  width: 840px;
  position: relative;
  margin: auto;
  max-width: 90%;
  background-color: burlywood;
  /* height: calc(100vh - 100px); */
}
.mainHomeTest {
  grid-column: span 4 / span 4;
}

.demo-wrapper {
  height: 500px;
  /* background: rgba(0, 0, 0, 0.03); */
  background-image: url(./factory.jpg);
  border: 3px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 10px;
}
.heatmap {
  width: 100%;
  height: 100%;
}
.tooltip {
  position: absolute;
  left: 0px;
  top: 5px;

  background: red;
  color: yellow;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  line-height: 18px;
  display: none;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* custon antd css */
.antCustom :where(.css-dev-only-do-not-override-acm2ia).ant-btn-default:not(:disabled):hover {
  color: #ffffff;
  border-color: #c17115;
}
/* end custon antd css */
