/* custon antd css */
.antCustom :where(.css-dev-only-do-not-override-acm2ia).ant-btn-default:not(:disabled):hover {
  color: #ffffff;
  border-color: #c17115;
}
.antCustom :where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-item-active {
  border-color: #c17115;
}
.antCustom :where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-item-active a {
  color: #c17115;
}
.antCustom
  :where(.css-dev-only-do-not-override-acm2ia).ant-pagination
  .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-color: white;
  border: 1px solid #c17115;
}
.antCustom :where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-item a:hover {
  color: #c17115;
}
.antCustom:where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-prev .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-next .ant-pagination-item-link:hover {
  color: #c17115;
}
.antCustom:where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-prev .ant-pagination-item-link,
:where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-next .ant-pagination-item-link:hover {
  color: #c17115;
}
.antCustom :where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-prev button:hover,
:where(.css-dev-only-do-not-override-acm2ia).ant-pagination .ant-pagination-next button:hover {
  color: #c17115;
}
.antCustom:where(.css-dev-only-do-not-override-acm2ia).ant-select:not(
    :where(.css-dev-only-do-not-override-acm2ia).ant-select-customize-input
  )
  .ant-select-selector:hover {
  border-color: #c17115;
  border-radius: 1px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  min-width: 100px;
}
.ant-pagination-item-active,
.ant-pagination-item:hover,
.ant-pagination-item-active:hover {
  border-color: #c17115;
}
.ant-pagination-item-active a {
  color: #c17115 !important;
}
.ant-pagination-item-active:focus-visible a,
.ant-pagination-item-active:hover a,
.ant-pagination-item:hover a {
  color: #c17115;
}
.ant-pagination-prev:hover .ant-pagination-item-link {
  color: #a85f0a;
  border-color: #a85f0a;
}
.ant-pagination-next:hover .ant-pagination-item-link {
  color: #a85f0a;
  border-color: #a85f0a;
}
/* end custon antd css */
